#heading {

}

#heading-text {
    text-align: center;
}

#heading-descriptionimg {
   
}

#img {
    display: inline-block;
    width: 30%;
}

#description {
    display: inline-block;
    width: 30%;
}